<h1>Goalsetter - Login</h1>

<form action = "/viewpage" method = "POST">
    <div> 
           <label>Email</label>
           <input type = "email" name = "email" placeholder ="Type your email" required>
    </div>
    <div>
           <label>Password</label>
           <input type = "password" name = "password" placeholder ="Type your password" required>
    </div>
   
    <button>Login</button>

</form>

<!--<form action = "/register" method = "GET">-->
    
         <button> <a href = "/register">Register </a></button>
<!--</form>-->

   <!--<button><a href = "/register">Register</a></button>-->