<h1>Register Page</h1>

<form action = "/viewpage" method = "POST">
    <div> 
           <label>Email</label>
           <input type = "email" name = "email" placeholder ="Type your email" required>
    </div>
    <div>
           <label>Password</label>
           <input type = "password" name = "password" placeholder ="Type your password" required>
    </div>
   
    <button>Register</button>

</form>

<div>
    <h2>Already Registered? Login <a href = "/login">here </a> </h2>
    
</div>